@charset "UTF-8";
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Shrikhand';
  font-weight: inherit;
  font-size: 70px;
}

h2 {
  font-size: 70px;
  font-weight: 800;
}

p {
  font-size: 45px;
  font-weight: 300;
}

.location__search {
  font-size: 35px;
  font-weight: 500;
}

.location__search p {
  font-weight: 500;
}

.location__explore--search {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
}

.restos__card--new {
  font-weight: bold;
  /*Définir la couleur vert foncé avec nuances*/
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.location__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 4px solid #C0C0C0;
  background-color: #E0E0E0;
}

.location__search i {
  margin-right: 30px;
}

.location__search p {
  margin-top: 25px;
  margin-bottom: 25px;
}

.location__explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F2F2F2;
  padding: 70px;
}

.location__explore h2, .location__explore p {
  text-align: center;
}

.location__explore--search {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 40px 60px;
  margin: 50px;
  border: none;
  border-radius: 75px;
}

.how {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 85%;
      grid-template-columns: 85%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  counter-reset: section;
}

.how__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 5px 0 5px 0;
  background-color: #F2F2F2;
  border-radius: 20px;
}

.how__step > i {
  margin-right: 20px;
}

.how__step > p {
  font-weight: bold;
}

.how__step::before {
  counter-increment: section;
  content: counter(section);
}

.restos {
  width: 100%;
  background-color: #F2F2F2;
}

.restos__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90%;
      grid-template-columns: 90%;
  grid-row-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restos__card {
  display: block;
}

.restos__card--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.restos__card--preview {
  position: relative;
}

.restos__card--new {
  background-color: #99E2D0;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
}

.restos__card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 250px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
/*# sourceMappingURL=main.css.map */