@charset "UTF-8";
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

/*COULEURS*/
/*ANIMATIONS*/
/*OMBRES*/
/*GRADIENT BACKGROUNDS*/
/*BOUTONS*/
/*MINI BORDURE PAGES MENUS*/
/*MEDIAS QUERIES
@mixin tablet-p{
    @media screen and (min-width: 1024px){
        @content;
    }
}
@mixin tablet-l{
    @media screen and (min-width: map-get($breakpoints, tablet-l)){
        @content;
    }
}
@mixin desktop{
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}
*/
/*LOADING SPINNER*/
@-webkit-keyframes dot {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes dot {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes loader--disapear {
  100% {
    opacity: 0;
    z-index: -999;
  }
}

@keyframes loader--disapear {
  100% {
    opacity: 0;
    z-index: -999;
  }
}

/*APPARITION PROGRESSIVE MENUS*/
@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/*CHECK BOXE VERTE*/
@-webkit-keyframes check__container--appear {
  0% {
    -webkit-transform: translateX(4rem);
            transform: translateX(4rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes check__container--appear {
  0% {
    -webkit-transform: translateX(4rem);
            transform: translateX(4rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes price_slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem);
  }
}

@keyframes price_slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem);
  }
}

@-webkit-keyframes card_slide {
  0% {
    padding-right: 0;
  }
  100% {
    padding-right: 4rem;
  }
}

@keyframes card_slide {
  0% {
    padding-right: 0;
  }
  100% {
    padding-right: 4rem;
  }
}

@-webkit-keyframes check__icon--rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes check__icon--rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  background: #f6f6f6;
}

.menu__courses h2 {
  margin-bottom: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Shrikhand';
  font-weight: inherit;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 1.5rem 0 0.5rem 0;
}

h3 {
  font-size: 1.1rem;
  font-weight: 800;
}

h4 {
  font-family: 'Shrikhand';
  font-weight: inherit;
  font-size: 1.1rem;
  color: #fff;
}

p {
  font-weight: 300;
}

.location__search {
  font-weight: 500;
}

.location__search p {
  font-weight: 500;
}

.location__explore p {
  font-size: 1.1rem;
}

.how__step--listnb {
  font-size: 1rem;
  color: #fff;
}

.restos__card--new {
  font-size: 1rem;
  font-weight: 700;
  color: #2c9c81;
}

.restos__card--info p {
  font-weight: 400;
}

.menu h2 {
  font-family: 'Shrikhand';
  font-weight: inherit;
  font-size: 1.8rem;
  margin: 0;
}

.menu h3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 1.5rem 0 0.4rem 0;
}

.menu h4 {
  font-family: 'Roboto';
  font-weight: 600;
  color: #000;
}

.menu p {
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 0.2rem;
}

.menu span {
  font-size: 1rem;
  font-weight: 800;
}

.footer a {
  font-size: 1rem;
  color: #fff;
}

/*//ACCUEIL => BOUTON "EXPLORER"//*/
.location__explore--search {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-box-shadow: 5px 5px 10px #eaeaea;
          box-shadow: 5px 5px 10px #eaeaea;
  padding: 1rem 1.5rem;
  margin: 2rem;
  border: none;
  border-radius: 1.5rem;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.location__explore--search:hover {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff93e1), to(#a16be0));
  background-image: linear-gradient(to bottom right, #ff93e1, #a16be0);
  -webkit-box-shadow: 7px 10px 40px #b5b5b5;
          box-shadow: 7px 10px 40px #b5b5b5;
}

/*//PAGES MENUS => BOUTON COMMANDER*/
.menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__button--order {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-box-shadow: 5px 5px 10px #eaeaea;
          box-shadow: 5px 5px 10px #eaeaea;
  padding: 1rem 1.5rem;
  margin: 2rem;
  border: none;
  border-radius: 1.5rem;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  padding: 1rem 3rem;
  margin: 2rem 0 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__button--order:hover {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff93e1), to(#a16be0));
  background-image: linear-gradient(to bottom right, #ff93e1, #a16be0);
  -webkit-box-shadow: 7px 10px 40px #b5b5b5;
          box-shadow: 7px 10px 40px #b5b5b5;
}

/*//BOUTONS COEURS FAVORIS//*/
.button__heart {
  padding-right: 2rem;
}

.button__heart:hover .fas {
  opacity: 1;
}

.button__heart:hover .far {
  opacity: 0;
}

.button__heart > .far, .button__heart .fas {
  font-size: 1.8rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.button__heart > .far {
  -webkit-transition: opacity, 1000ms;
  transition: opacity, 1000ms;
}

.button__heart > .fas {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(180deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  -webkit-transition: opacity, 1000ms;
  transition: opacity, 1000ms;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: 1;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: loader--disapear 1s both ease 3.5s;
          animation: loader--disapear 1s both ease 3.5s;
}

.loader .dot {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: dot 1s both ease-in-out alternate 3;
          animation: dot 1s both ease-in-out alternate 3;
}

.loader .dot:nth-child(1) {
  background-color: #9356DC;
}

.loader .dot:nth-child(2) {
  background-color: #FF79DA;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader .dot:nth-child(3) {
  background-color: #99E2D0;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

header {
  height: 4.5rem;
  position: relative;
  background: #fff;
}

header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

header .arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 1rem;
  font-size: 1.3rem;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.location__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 3px solid #cecece;
  background-color: #eaeaea;
  padding: 15px;
}

.location__search i {
  margin-right: 15px;
}

.location__explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  padding: 1.2rem;
}

.location__explore h2, .location__explore p {
  text-align: center;
}

.location__explore h2 {
  padding: 0 2.5rem;
}

.how {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90%;
      grid-template-columns: 90%;
  grid-gap: 1.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0 4rem 0;
  background: #fff;
}

.how__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  width: 99%;
  padding: 1rem;
  margin-left: 0;
  background-color: #f6f6f6;
  border-radius: 1.2rem;
  -webkit-box-shadow: 5px 5px 10px #eaeaea;
          box-shadow: 5px 5px 10px #eaeaea;
}

.how__step--listnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9356DC;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-left: -1.7rem;
}

.how__step:hover {
  background-color: #f2eafb;
}

.how__step:hover > i {
  color: #9356DC;
}

.how__step > i {
  margin: 0 1.2rem;
  font-size: 1.2rem;
  color: #828282;
}

.how__step > p {
  font-weight: bold;
}

.restos {
  width: 100%;
  background-color: #f6f6f6;
  padding: 1rem 0 4rem 0;
}

.restos__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90%;
      grid-template-columns: 90%;
  grid-row-gap: 1.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restos__card {
  display: block;
  border-radius: 40px;
  -webkit-box-shadow: 5px 5px 10px #eaeaea;
          box-shadow: 5px 5px 10px #eaeaea;
}

.restos__card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.restos__card--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0.9rem;
  position: relative;
}

.restos__card--preview {
  position: relative;
}

.restos__card--new {
  background-color: #99E2D0;
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 15px 30px;
  border-radius: 5px;
}

.coverpic img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  width: 100%;
  background: #f6f6f6;
  padding: 2rem 1rem 0.5rem 1rem;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  position: relative;
}

.menu__courses--border {
  width: 2.5rem;
  border-bottom: 3px solid #99E2D0;
  margin-bottom: 0.5rem;
}

.menu__courses--card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  height: 4.5rem;
  padding: 1rem 0 1rem 1rem;
  margin: 1rem 0;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 10px #eaeaea;
          box-shadow: 5px 5px 10px #eaeaea;
  cursor: pointer;
  overflow: hidden;
}

.menu__courses--card span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 3rem;
  margin-right: 1rem;
}

.menu__courses--card > h3, .menu__courses--card p {
  /*LINE-CLAMP => tronque le texte à un nb spécifique de lignes*/
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu__courses--card .check__container {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4rem;
  height: 4.5rem;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
}

.menu__courses--card .check__container .check__icon {
  color: #fff;
  font-size: 1.5rem;
}

.menu__courses--card:hover > h3, .menu__courses--card:hover p {
  -webkit-animation: card_slide 0.5s both;
          animation: card_slide 0.5s both;
}

.menu__courses--card:hover .check__container {
  -webkit-animation: check__container--appear 0.5s both;
          animation: check__container--appear 0.5s both;
}

.menu__courses--card:hover .check__icon {
  -webkit-animation: check__icon--rotate 0.5s;
          animation: check__icon--rotate 0.5s;
}

.menu__courses--card:hover span {
  -webkit-animation: price_slide 0.5s both;
          animation: price_slide 0.5s both;
}

/*ANIMATION APPARITION PROGRESSIVE "APPEAR"*/
.menu__courses {
  -webkit-animation: appear 1s both;
          animation: appear 1s both;
}

.appear--1 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.appear--2 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.appear--3 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #353535;
  color: #fff;
  padding: 1.5rem;
}

.footer nav a {
  margin: 0.3rem 0;
}

.footer nav i {
  font-size: 0.9rem;
  margin-right: 1rem;
}

.footer .footer__iconlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */