.fct{
    display: grid;
    grid-template-columns: 85%;
    justify-content: center;
    counter-reset: section;
    &__step{
        display: flex;
        align-items: center;
        padding: 10px;
        margin: 5px 0 5px 0;
        background-color: $light-grey;
        border-radius: 20px;
    }
    &__step > i{
        margin-right: 20px;
    }
    &__step > p{
        font-weight: bold;
    }
    &__step::before{
        counter-increment: section;
        content: counter(section);
    }
}

