.footer{
    display: flex;
    flex-direction: column;
    background-color: $footer;
    color: #fff;
    padding: 1.5rem;
    nav {
        position : relative;
        display: flex;
        flex-direction: column;
        a{
        margin: 0.3rem 0;
        }
        i{
            position: absolute;
            left: 0;
            font-size: 0.9rem;
            margin-right: 1rem;
        }
    }

    .footer__iconlink{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 1.5rem;
    }
}