header{
    height: 120px;
    position: relative;
    h1{
        display: flex;
        justify-content: center;
        margin: 15px;
    }
}

header i{
    position: absolute;
    top: 30px;
    left: 60px;
    font-size: 50px;
}



