header{
    height: 4.5rem;
    position: relative;
    background: #fff;
    h1{
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
}

header .arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    font-size: 1.3rem;
}



