.how{
    display: grid;
    grid-template-columns: 90%;
    grid-gap: 1.2rem;
    justify-content: center;
    padding: 1rem 0 4rem 0;
    background: #fff;
    &__step{
        display: flex;
        align-items: center;
        height: 5rem;
        width: 99%;
        padding: 1rem;
        margin-left: 0;
        background-color: $light-grey;
        border-radius: 1.2rem;
        @include shadow;
        &--listnb{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $primary-color;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            margin-left: -1.7rem;
        }
        &:hover{
            background-color: lighten($color: $primary-color, $amount: 35);
            > i{
                color: $primary-color;
            }
        }
    }
    &__step > i{
        margin: 0 1.2rem;
        font-size: 1.2rem;
        color: darken($dark-grey, 30%);
    }
    &__step > p{
        font-weight: bold;
    }
    
}

