.how{
    display: grid;
    grid-template-columns: 85%;
    grid-gap: 50px;
    justify-content: center;
    margin: 70px 0 70px 0;
    &__step{
        display: flex;
        align-items: center;
        height: 180px;
        width: 97%;
        padding: 10px;
        margin-left: 30px;
        background-color: $light-grey;
        border-radius: 65px;
        @include shadow;
        &--listnb{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $primary-color;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-left: -40px;
        }
    }
    &__step > i{
        margin-right: 50px;
        margin-left: 50px;
        font-size: 50px;
        color: darken($dark-grey, 30%);
    }
    &__step > p{
        font-weight: bold;
    }
}

