.location{
    display: flex;
    flex-direction: column;
    width: 100%;
    &__search{
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 3px solid $dark-grey;
        background-color: $medium-grey;
        padding: 15px;
        i{
            margin-right: 15px;
        }
        p{
            
        }
    }
    &__explore{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $light-grey;
        padding: 1.2rem;
        h2, p{
            text-align: center;
        }
        h2{
            padding: 0 2.5rem;
        }
    }
}