.coverpic{
    img{
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
}

.menu{
    width: 100%;
    background: $light-grey;
    padding: 2rem 1rem 0.5rem 1rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transform: translateY(-50px);
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        position: relative;
        
    }
    &__courses{
        &--border{
            @include mini-border;
        }
        &--card{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #fff;
            height: 4.5rem;
            padding: 1rem 0 1rem 1rem;
            margin: 1rem 0;
            border-radius: 15px;
            @include shadow;
            cursor: pointer;
            overflow: hidden;
            > div{
                
            }
            span{
                display: flex;
                align-items: flex-end;
                height: 3rem;
                margin-right: 1rem;
            }
            > h3, p{
                /*LINE-CLAMP => tronque le texte à un nb spécifique de lignes*/
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1; 
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .check__container{
                position: absolute;
                top: 0;
                right: 0;
                opacity: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 4rem;
                height: 4.5rem;
                background: $tertiary-color;
                border-radius: 0 15px 15px 0;
                .check__icon{
                    color: #fff;
                    font-size: 1.5rem;
                }
            }
            &:hover{
                > h3, p{
                    animation: card_slide 0.5s both;
                
                }
                .check__container{
                    animation: check__container--appear 0.5s both;
                }
                .check__icon{
                    animation: check__icon--rotate 0.5s;
                }
                span{
                    animation: price_slide 0.5s both;
                }
            }
        }
    }
}

/*ANIMATION APPARITION PROGRESSIVE "APPEAR"*/
.menu__courses{
    animation: appear $anim-courses-duration both;
}

@for $i from 1 through 3{
    .appear--#{$i} {
        animation-delay: $anim-courses-delay * $i;
     }
}