.coverpic{
    position: relative;
    z-index: 1;
    img{
        width: 100%;
        height: 700px;
        object-fit: cover;
    }
}

.menu{
    width: 100%;
    position: relative;
    z-index: 2;
    background: $light-grey;
    padding: 80px 30px 40px 30px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    bottom: 100px;
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 60px 0 30px;
        i{
            @include heart-size;
        }
    }
    &__courses{
        &--border{
            @include mini-border;
        }
        &--card{
            display: flex;
            justify-content: space-between;
            background: #fff;
            padding: 30px;
            margin: 30px 0;
            border-radius: 40px;
            @include shadow;
            span{
                display: flex;
                align-items: flex-end;
                margin-right: 25px;
            }
        }
    }
}