.restos{
    width: 100%;
    background-color: $light-grey;
    padding-top: 70px;
    padding-bottom: 150px;
    &__grid{
        display: grid;
        grid-template-columns: 90%;
        grid-row-gap: 40px;
        justify-content: center;
    }
    &__card{
        display: block;
        border-radius: 40px;
        @include shadow;
        & img{
            object-fit: cover;
            width: 100%;
            height: 450px;
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
        }
        &--info{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $main-white;
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
            padding: 30px;
            i{
                font-size: 60px;
                padding-right: 50px;
            }
            .full-heart{
                display: none;
            }
        }
        &--preview{
            position: relative;
        }
        &--new{
            background-color: $tertiary-color;
            position: absolute;
            top: 30px;
            right: 30px;
            padding: 15px 30px;
            border-radius: 5px;
        }
    }
}