.location__explore--search{
    @include button;
    position: relative;
    z-index: 1;
    &:hover{
        & .location__explore--searchbg{
            opacity: 1;
        }
    }
    &bg{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @include light-gradient-bckgd;
        /*Pourquoi je suis obligée de remettre le border radiuas ici?*/
        border-radius: 75px;
        box-shadow: 7px 10px 40px darken($dark-grey,10);
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
}

.menu__button{
    display: flex;
    justify-content: center;
}
#menu__button--order{
    @include button;
    padding: 40px 100px;
    margin: 100px 0;
    justify-content: center;
}