/*//ACCUEIL => BOUTON "EXPLORER"//*/
.location__explore--search{
    @include button;
    transition: all 250ms;
    &:hover{
        @include light-gradient-bckgd;
        box-shadow: 7px 10px 40px darken($dark-grey,10);
    }
    @include tablet-p{
        margin: 1rem;
    }
}

/*//PAGES MENUS => BOUTON COMMANDER*/
.menu__button{
    display: flex;
    justify-content: center;
    &--order{
        @include button;
        padding: 1rem 3rem;
        margin: 2rem 0 0 0;
        justify-content: center;

        @include desktop{
            width: 30%;
            font-weight: 600;
        }

        &:hover{
            @include light-gradient-bckgd;
            box-shadow: 7px 10px 40px darken($dark-grey,10);
        }
    }
    @include desktop{
        grid-column: 1/4;
    }
}

/*//BOUTONS COEURS FAVORIS//*/
.button__heart{
    padding-right: 2rem;
    &:hover{
        .fas{
            opacity: 1;
        }
        .far{
            opacity: 0;
        }
    }
    > .far, .fas{
        font-size: 1.8rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: opacity, 1000ms;
    }
    > .fas{
        background: linear-gradient(180deg, $primary-color, $secondary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
    }
}