.loader{
    position: fixed;
    height: 100%;
    width: 100%;
    background: #fff;
    opacity: 1;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loader--disappear 1s both ease 3.5s;
    &--firstdot{
        position: relative;
    }
    .dot{
        width: 25px;
        height: 25px;
        margin: 0 10px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        background: $tertiary-color;
        &--1{
            position: absolute;
            left: 0px;
            animation: dot--appear 1.5s both ease-in-out 2;
        }
        &--2{
            animation: dot--translate 1.5s both ease-in-out 2;
        }
        &--3{
            animation: dot--translate 1.5s both ease-in-out 2;
        }
        &--4{
            animation: dot--disappear 1.5s both ease-in-out 2;
        }
    }
}