.loader{
    position: fixed;
    height: 100%;
    width: 100%;
    background: #fff;
    opacity: 1;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loader--disapear 1s both ease 3.5s;
    .dot{
        width: 30px;
        height: 30px;
        margin: 0 10px;
        border-radius: 50%;
        transform: scale(0);
        animation: dot 1s both ease-in-out alternate 3;
        &:nth-child(1){
            background-color: $primary-color;
        }
        &:nth-child(2){
            background-color: $secondary-color;
            animation-delay: 0.2s;
        }
        &:nth-child(3){
            background-color: $tertiary-color;
            animation-delay: 0.4s;
        }
    }
}