* {
    box-sizing:border-box;
    font-size: 16px;
    @include tablet-p{
        font-size: 20px;
    }
    @include tablet-l{
        font-size: 22px;
    }
    @include desktop{
        font-size: 22px;
    }
}

body {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    background: $light-grey;
}

