body {
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Shrikhand';
    font-weight: inherit;
    font-size: 70px;
}

.location__explore--search{
    color: $main-white;
    font-weight: bold;
}

.restos__card--new{
    font-weight: bold;
    /*Définir la couleur vert foncé avec nuances*/
}