body {
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Shrikhand';
    font-weight: inherit;
    font-size: 70px;
}

h2{
   font-size: 70px;
   font-weight: 800;
}

h3{
    font-size: 45px;
    font-weight: 800;
}

p{
    font-size: 45px;
    font-weight: 300;
}

.location__search{
    font-size: 35px;
    font-weight: 500;
}

.location__search p{
    font-weight: 500;
}

.how__step--listnb{
    font-size: 35px;
    color: $main-white;
}

.location__explore--search{
    color: $main-white;
    font-size: 40px;
    font-weight: 500;
}

.restos__card--new{
    font-size: 35px;
    font-weight: 700;
    color: darken($tertiary-color, 35%)
}

.restos__card--info p{
    font-weight: 400;
}