body {
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Shrikhand';
    font-weight: inherit;
    font-size: 2rem;
}

h2{
   font-size: 1.5rem;
   font-weight: 800;
   margin: 1.5rem 0 0.5rem 0;
   @include tablet-p{
       margin: 1.5rem 0 0 0;
   }
}

h3{
    font-size: 1.1rem;
    font-weight: 800;
}

h4{
    font-family: 'Shrikhand';
    font-weight: inherit;
    font-size: 1.1rem;
    color: #fff;
    margin-bottom: 0.3rem;
}

p{
    font-weight: 300;
}

.location__search{
    font-weight: 500;
}

.location__search p{
    font-weight: 500;
}

.location__explore p{
    font-size: 1.1rem;
    
}

.how__step--listnb{
    font-size: 1rem;
    color: $main-white;
}

.restos__card--new{
    font-size: 0.9rem;
    font-weight: 700;
    color: darken($tertiary-color, 35%)
}

.restos__card--info p{
    font-weight: 400;
}

.menu{
    h2{
        font-family: 'Shrikhand';
        font-weight: inherit;
        font-size: 1.8rem;
        margin: 0;
    }
    h3{
        font-size: 1rem;
        font-weight: 400;
        margin: 1.5rem 0 0.4rem 0;

        @include tablet-p{
            text-align: center;
        }
        @include desktop{
            text-align: initial;
        }
    }
    h4{
        font-family: 'Roboto';
        font-weight: 600;
        color: #000;
        @include desktop{
            font-size: 1rem;
        }
    }
    p{
        font-size: 0.9rem;
        font-weight: 400;
        margin-top: 0.2rem;
        @include desktop{
            font-size: 0.8rem;
        }
    }
    span{
        font-size: 1rem;
        font-weight: 800;
    }
}

.footer a{
    font-size: 1rem;
    color: #fff;
}