/*APPARITION PROGRESSIVE MENUS*/
@keyframes appear{
    0%{
        transform: translateY(10px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

/*LOADING SPINNER*/
@keyframes dot{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes loader--disapear{
    100%{
        opacity: 0;
        z-index: -999;
    }
}