/*LOADING SPINNER*/
@keyframes dot--appear{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes dot--disappear{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}
@keyframes dot--translate{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(45px);
    }
}
@keyframes loader--disappear{
    100%{
        opacity: 0;
        z-index: -999;
    }
}

/*APPARITION PROGRESSIVE MENUS*/
@keyframes appear{
    0%{
        transform: translateY(10px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

/*CHECK BOXE VERTE*/
@keyframes check__container--appear{
    0%{
        transform: translateX(4rem);
        opacity: 0;
    }
    100%{
        transform:translateX(0);
        opacity: 1;
    }
}
@keyframes price_slide{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-4rem);
    }
}
@keyframes card_slide{
    0%{
        padding-right: 0;
    }
    100%{
        padding-right: 4rem;
    }
}
@keyframes card_slide{
    0%{
        padding-right: 0;
    }
    100%{
        padding-right: 5rem;
    }
}
@keyframes check__icon--rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(-360deg);
    }
}
