/*OMBRES*/
@mixin shadow {
    box-shadow: 5px 5px 10px $medium-grey;
}

/*GRADIENT BACKGROUNDS*/
@mixin gradient-bckgd{
    background-image: linear-gradient(to bottom right, $secondary-color, $primary-color);
}

@mixin light-gradient-bckgd{
    background-image: linear-gradient(to bottom right, $secondary-color-light, $primary-color-light);
}
/*BOUTONS*/
@mixin button{
    @include gradient-bckgd;
    @include shadow;
    padding: 1rem 1.5rem;
    margin: 2rem;
    border: none;
    border-radius: 1.5rem;
    color: $main-white;
    font-weight: 500;
    cursor: pointer;
}

/*MINI BORDURE PAGES MENUS*/
@mixin mini-border{
    width: 2.5rem;
    border-bottom: 3px solid $tertiary-color;
    margin-bottom: 0.5rem;
}

/*MEDIAS QUERIES*/
@mixin tablet-p{
    @media screen and (min-width: 768px){
        @content;
    }
}
@mixin tablet-l{
    @media screen and (min-width: 1024px){
        @content;
    }
}
@mixin desktop{
    @media screen and (min-width: 1400px){
        @content;
    }
}