/*COULEURS*/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$primary-color-light: lighten(#9356DC, 5);
$secondary-color-light: lighten(#FF79DA,5);
$tertiary-color-light: lighten(#99E2D0,5);

$light-grey: #f6f6f6;
$medium-grey: #eaeaea;
$dark-grey: #cecece;

$main-white: #fff;
$main-black: #000;

$footer: #353535;

/*ANIMATIONS*/
$anim-courses-duration: 1s;
$anim-courses-delay: 0.3s;